.remove-btn {
  height: 2vw;
  position: relative;
  right: 2.5vw;
  bottom: 1vw;
  cursor: pointer;
  transition: transform 0.2s;
}

.remove-btn:hover {
  transform: scale(1.1);
}

.villager-icon {
  transition: transform 0.2s;
}

.villager-icon:hover {
  transform: translateY(-2px);
}
