.icon-link {
  position: relative;
}

.icon-link .remove-btn {
  visibility: hidden;
  border: none;
  border-radius: 50%;
  background: url("../../assets/remove.png");
  background-size: contain;
  height: 2vw;
  width: 2vw;
  position: absolute;
  right: 0.5vw;
  bottom: 0.5vw;
  cursor: pointer;
  transition: transform 0.2s;
}

.remove-btn:hover {
  transform: scale(1.1);
}

.villager-icon {
  transition: transform 0.2s;
  width: 8vw;
}

.villager-icon:hover {
  transform: translateY(-2px);
}

.icon-link:hover .remove-btn,
.icon-link:focus-within .remove-btn {
  visibility: visible;
}

@media screen and (max-width: 680px) {
  .villager-icon {
    width: 18vw;
  }

  .icon-link .remove-btn {
    visibility: visible;
    height: 4vw;
    width: 4vw;
    right: 0;
    bottom: 0.5vw;
  }
}
