dt {
  font-weight: bold;
  display: inline;
}

dt::after {
  content: ": ";
}

dd {
  display: inline;
}

.villager-details {
  width: 50vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.7vw;
}

.details-name {
  border-radius: 2vw;
  padding: 0.8vw;
  margin: 1vw;
  width: 12vw;
}

.detail-photo {
  border-radius: 2vw;
  max-width: 25vw;
}

.details-back-btn {
  display: inline-block;
  background-color: #db4249;
  color: #ffffff;
  border: 2px solid #db4249;
  border-radius: 2vw;
  padding: 0.8vw 3vw;
  margin: 1vw;
  text-decoration: none;
  transition: background-color 0.2s;
}

.details-back-btn:hover {
  background-color: #e84f56;
}

.add-wishlist-btn {
  display: inline-block;
  background-color: #60c448;
  color: #ffffff;
  border: 2px solid #60c448;
  border-radius: 2vw;
  padding: 0.8vw 3vw;
  margin: 1vw;
  text-decoration: none;
  transition: background-color 0.2s;
}

.add-wishlist-btn:hover {
  background-color: #6dd354;
}
