dt {
  font-weight: bold;
  display: inline;
}

dt::after {
  content: ": ";
}

dd {
  display: inline;
}

.villager-details {
  background-color: #eee6a5;
  border-radius: 4vw;
  max-width: 60vw;
  padding: 4vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details-name {
  border-radius: 2vw;
  padding: 1vw;
  margin: 1vw;
  width: 12vw;
}

.detail-photo {
  border-radius: 2vw;
}
