.wishlist {
  min-width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wishlist-title {
  background-color: #ffeb4a;
  color: #856e5e;
  border-radius: 0.5vw;
  width: 20vw;
  padding: 1vw;
  margin: auto;
}

@media screen and (max-width: 680px) {
  .wishlist {
    max-width: 80vw;
    padding: 3vw;
  }

  .wishlist-title {
    border-radius: 2vw;
    width: 70vw;
  }
}
