.filter-container {
  max-width: 30vw;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: inline-block;
}

.filter-title {
  margin-bottom: 1vw;
}

input {
  position: absolute;
  opacity: 0;
}

.radio-bubble {
  display: inline-block;
  margin: 0.5vw;
  border: 2px solid #5db7b5;
  background-color: #5db7b5;
  color: #ffffff;
  border-radius: 2vw;
  padding: 0.8vw;
  min-width: 4vw;
  font-size: 1.2vw;
  cursor: pointer;
  transition: border 0.2s;
}

.radio-bubble:hover,
.radio-bubble:focus-within {
  border: 2px solid white;
}

@media screen and (max-width: 680px) {
  .filter-container {
    max-width: 80vw;
    margin: auto;
    margin-bottom: 3vw;
    font-size: 3.5vw;
  }

  .radio-bubble {
    font-size: 3vw;
    padding: 0.8vw 2.2vw;
  }
}
