.icon-container {
  width: 50vw;
  margin: auto;
  display: inline-block;
}

.box {
  background-color: #eee6a5;
  border-radius: 4vw;
  padding: 2vw;
  color: #856e5e;
}

@media screen and (max-width: 680px) {
  .box {
    width: 80vw;
    display: block;
  }
}
